[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[commit]
	gpgSign = true
[core]
	excludesFile = ~/.gitignore
	autocrlf = false
[pull]
	rebase = true
[color]
	ui = true
